body{
    background-color: rgb(161, 152, 144);
}
header{
    background-color: rgb(25, 21, 21);
    color:aliceblue;
    text-align: center;
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(25, 21, 21);
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    margin: 1;
    padding: 1;
}
nav ul li a{
    display: block;
    padding: 15px;
    color: #1a3857;
    text-decoration:n;
}
nav ul li a:hover{
    color: #9a0b0b;
    background-color: #070000;
}
nav ul li ul .dropdown{
    background-color: seagreen;
    position: absolute;
    display: none;
    box-shadow:0 2px 5px rgba(0,0,0,0,2);
}
nav ul li:hover ul .dropdown{
   display: block;
}
nav ul li ul .dropdown li a{
    display: block;
 }
nav ul li ul .dropdown li a{
    padding: 10px 20px;
    color: #343a40;
    text-decoration: none;
    display: block;
 }